<div style="display: flex; flex-direction: column; min-height: 100vh;">
  <div class="ui inverted vertical segment" style="background-color: #C7E6FF; color: #000; margin-bottom: 20px">
    <div class="ui container">
      <div class="ui inverted secondary menu">
        <h1>EVERNOTE | die Notiz-App</h1>
      </div>
    </div>
  </div>

  <div class="ui container" style="flex: 1;">
    <div class="ui {{ isLoggedIn() ? 'eight':'seven' }} item pointing menu">
      <a routerLink="home" routerLinkActive="active" class="item">Home</a>
      <a routerLink="notes" routerLinkActive="active" class="item">Notizen</a>
      <a routerLink="todos" routerLinkActive="active" class="item">ToDos</a>
      <a routerLink="tags" routerLinkActive="active" class="item">Tags</a>
      <a routerLink="collections" routerLinkActive="active" class="item">Collections</a>
      <a routerLink="users" routerLinkActive="active" class="item">User</a>
      @if (isLoggedIn()){
        <a routerLink="admin" routerLinkActive="active" class="item">Administration</a>
      }
      <a routerLink="login" routerLinkActive="active" class="item">{{ getLoginLabel() }}</a>
    </div>
    <div class="ui container">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="ui inverted vertical footer segment" style="background-color: #C7E6FF; color: #000; margin-top: 40px">
    <div class="ui center aligned container">
      <h5>Evernote Projekt SS 2024</h5>
      <div style="height: 1px; width: 100%; background-color: #ffffff; margin: 10px 0;"></div> <!-- Helle Trennlinie -->
      <div class="ui horizontal inverted small divided link list" style="margin-bottom: 10px;">
        <p>Monika Edermaier-Edermayr</p>
      </div>
    </div>
  </footer>
</div>
