<h1>Todoformular</h1>
<form  class="ui large form" [formGroup]="todoForm" (ngSubmit)="submitForm()">
  <div class="field">
    <label>Titel *</label>
    <input type="text" id="title" formControlName="title">
    @if(errors['title']){
      <div class="ui negative message"> {{ errors['title'] }} </div>
    }
  </div>
  <div class="field">
    <label>Beschreibung</label>
    <textarea formControlName="description" rows="3"></textarea>
  </div>
  <div class="field">
    <label>Fälligkeitsdatum *</label>
    <input type="date" formControlName="dueDate">
    @if(errors['dueDate']){
      <div class="ui negative message">{{ errors['dueDate'] }} </div>
    }
  </div>
  <div class="field">
    <label>Bearbeitungsrechte *</label>
    <input formControlName="open">
    @if(errors['open']){
      <div class="ui negative message"> {{ errors['open'] }} </div>
    }
  </div>
  <div class="field">
    <label>Bilder</label>
    <div formArrayName="images">
      @for(control of images.controls; let i =$index, l=$last; track control){
        <div class="fields" [formGroupName]="i">
          <input type="hidden" formControlName="id">
          <div class="nine wide field">
            <input formControlName="url" placeholder="http://bild{{i+1}}_url">
          </div>
          <div class="six wide field">
            <input formControlName="title" placeholder="Bild{{i+1}}_Titel">
          </div>
          @if(l){
            <div class="one wide field">
              <button (click)="addThumbnailControl()" class="ui large button" type="button">+</button>
            </div>
          }
        </div>
      }
    </div>
    @if (errors['images']){
      <div class="ui negative message">{{ errors['images'] }}</div>
    }
  </div>

  <div class="field">
    <label for="notes">Notiz wählen: *</label>
    <select name="note" class="ui fluid dropdown" id="notes" formControlName="note_id">
      @for (note of notes; track note) {
        <option [value]="note.id">
          <span>{{ note?.title }}</span>
        </option>
      }
    </select>
    @if(errors['note_id']){
      <div class="ui negative message"> {{ errors['note_id'] }} </div>
    }
  </div>

  <div class="field">
    <label for="tags">Tag wählen:</label>
    <select id="tags" formControlName="tags" multiple>
      @for (tag of tags; track tag) {
        <option [value]="tag.id">
          <span>{{ tag?.title }}</span>
        </option>
      }
    </select>
  </div>

  <div class="field">
    <label for="users">User wählen:</label>
    <select id="users" formControlName="users" multiple>
      @for (user of users; track user) {
        <option [value]="user.id">
          <span>{{ user?.firstName }} {{ user?.lastName }}</span>
        </option>
      }
    </select>
  </div>


  <button type="submit" class="ui button" [disabled]="todoForm.invalid">Speichern</button>
</form>



